:root {
  --Beige: #1FEF0CC;
}

@font-face {
  font-family: "VVE-Giallo-Light";
  src: url(fonts/VVE-Giallo-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "VVE-Giallo-Medium";
  src: url(fonts/VVE-Giallo-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "VVE-Giallo-Bold";
  src: url(fonts/VVE-Giallo-Bold.ttf);
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "VVE-Giallo-Bold", sans-serif;
  outline: none;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 100%;
  max-width: 410px;
  max-height: 800px;
}

.main-container {
  background: linear-gradient(164.13deg, #ffffff 60.35%, #fab95b 88.09%);
  outline-color: #7c320c;
  height: 100%;
}

#no-gradient {
  background: none;
}

nav {
  position: relative;
  z-index: 2;
  height: 2.5rem;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity)) !important;
}

a:link {
  text-decoration: none !important;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity)) !important;
}

.main-navbar {
  background-color: #fab95b;
  padding: 8px 16px 4px 16px;
}

.maintxt {
  background-image: url(images/);
  background-size: cover;
}

h1 {
  font-size: 180px;
  color: #1a3263 !important;
}

h2 {
  font-size: 24px;
  font-family: "VVE-Giallo-Bold", sans-serif;
  font-weight: 700;
  color: #1a3263 !important;
  margin-bottom: 0px !important;
}

h3 {
  font-size: 16px;
  font-family: "VVE-Giallo-Medium", sans-serif;
  font-weight: 500;
  color: #1a3263 !important;
}

h4 {
  font-family: "VVE-Giallo-Medium", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  color: #1a3263 !important;
  margin-bottom: 0px !important;
}

h5 {
  font-family: "VVE-Giallo-Medium", sans-serif;
  font-size: 1rem !important;
  font-weight: 300;
  color: #1a3263 !important;
  margin-bottom: 0px !important;
}

h6 {
  font-family: "VVE-Giallo-Medium", sans-serif;
  font-size: 12px !important;
  font-weight: 300;
  color: #1a3263 !important;
  margin-bottom: 0px !important;
}

.img-cover {
  object-fit: fill;
  border-radius: 8px;
  box-shadow: 0px 4px 8px #fabc62;
}

.span {
  padding: 10px 14px;
}

.recommended-dishes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.recommended-dishes-item {
  text-align: center;
}

.two-line-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.button-next {
  width: 50%;
  padding: 16px 0px;
  background-color: #1a3263;
  color: white;
  font-size: 1rem;
  border-radius: 12px;
  border: 0px;
}

.button-previous {
  width: 49%;
  padding: 16px 0px;
  background-color: #fff;
  color: #1a3263;
  font-size: 1rem;
  border-radius: 12px;
  border: 0px;
}

.recipe-view-image {
  padding: 8px;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 14px;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border-radius: 8px 0px 0px 8px;
}

form.example button {
  width: 20%;
  padding: 10px;
  background: #3b71ca;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
  box-shadow: 0px 2px 8px #3b71ca;
  border: 1px solid #5f87c8;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

form.example:active,
:focus {
  border: 0px;
}

.text-description {
  opacity: 0.6;
}

.todays-recommendation {
  position: relative;
}

.todaysRecommendationImage {
  position: relative;
  text-align: center;
  color: white;
}

.todays-recommendation-tags {
  position: absolute;
  bottom: 0px;
}

.recipe--tag-type {
  background-color: #f16821;
}

.recipe--tag-difficulty {
  background-color: #5bb700;
}

.recipe--tag-time {
  background-color: #fef0cc;
}

.daypart {
  display: flex;
}

.daypart--frame {
  background-color: antiquewhite;
  border-radius: 12px;
}

.daypart--image {
  border-radius: 12px 12px 0px 0px;
}

.daypart--bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px;
}

.bottom-right {
  position: absolute;
  background-color: #1a3263;
  opacity: 0.9;
  border-radius: 4px;
  padding: 10px 10px;
  color: #fff;
  bottom: 0px;
  left: 0px;
  font-size: 24px;
}

.btn-search {
  background-color: #7c320c !important;
  color: white !important;
  padding: 12px 18px !important;
}

.btn-main {
  background-color: #fab95b !important;
  color: #1a3263 !important;
  padding: 12px !important;
  width: 100%;
}

.btn-main-white {
  background-color: #ffffff !important;
  color: #1a3263 !important;
  padding: 12px !important;
  width: 100%;
}

.btn-secondary-white {
  border: 2px solid #1a3263 !important;
  color: #1a3263 !important;
  padding: 12px !important;
  width: 100%;
}

.btn-register {
  background-color: #fab95b !important;
  color: #1a3263 !important;
  padding: 16px 56px !important;
}

.btn-login {
  background-color: #fff !important;
  color: #1a3263 !important;
  padding: 16px 68px !important;
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #1a3263 !important;
  opacity: 0.6 !important;
  font-weight: 300 !important;
}

.advanced {
  padding-left: 14px !important;
}

.input::placeholder {
  color: #631a1a;
  opacity: 0.1;
}

.facebook {
  display: flex;
  align-items: center;
  width: 100%;
}

input[type="text"] {
  border: 2px solid #fab95b;
}

.img-shadow {
  box-shadow: 10px 10px 5px #ccc;
}

.product h2 {
  font-weight: 400;
  font-size: 24px;
}

.product button {
  margin-top: 16px;
  padding: 8px 32px;
  font: 600 16px Poppins, arial;
  background-color: #ffbf69;
  border: 1px solid #ffbf69;
}

.desc-section {
  height: 500px;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

.desc {
  display: flex;
  padding: 40px 0%;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  background-image: url(images/bg-grid.png);
  background-repeat: no-repeat;
}

.container-left2 {
  width: 1200px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 100px;
  color: rgb(0, 0, 0);
}

.container-right2 {
  width: 411px;
  height: 318px;
  background-image: url("images/photo.jpg");
  background-position: center;
  background-size: cover;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  font-size: 24px;
  color: white;
}

footer ul {
  padding: 40px 0px;
}
