@font-face {
  font-family: 'VVE-Giallo-Light';
  src: url(fonts/VVE-Giallo-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'VVE-Giallo-Medium';
  src: url(fonts/VVE-Giallo-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'VVE-Giallo-Bold';
  src: url(fonts/VVE-Giallo-Bold.ttf);
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "VVE-Giallo-Bold", sans-serif; 
}

body {
  max-width: 430px;
}

nav {
  position: relative;
  z-index: 2;
  height: 2.5rem;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

ul {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1.5rem;
  padding-left: 0;
  margin-block: 0;
  overflow-x: auto;
  list-style: none;
  text-align: center;
  white-space: nowrap;
}

a {
  text-decoration: none;
  display: block;
  padding: .5rem .75rem;
}

.active {
  color: #fff;
  font-weight: 600;
}


.recommendedDishes{
  overflow-x: auto;
  white-space: nowrap;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.center-cropped {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}

.containerNav{
  background-color: #FAB95B;
}

body {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 20%;
  background-color: #ffbf69;
}

h1 {
  font-size: 180px;
  color: #1A3263 !important;
}

h2 {
  font-size: 24px;
  font-family: "VVE-Giallo-Bold", sans-serif;
  font-weight: 700;
  color: #1A3263 !important;
}

h3 {
  font-size: 16px;
  font-family: "VVE-Giallo-Medium", sans-serif;
  font-weight: 500;
  color: #1A3263 !important;
}

h4 {
  font-family: "VVE-Giallo-Medium", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #1A3263 !important;
}

h5 {
  font-family: "VVE-Giallo-Medium", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #1A3263 !important;
}

h6 {
  font-family: "VVE-Giallo-Medium", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #1A3263 !important;
}

.logo {
  margin-right: auto;
  font-size: 24px;
  color: #1A3263 !important;
}

.nav__links {
  list-style: none;
  display: flex;
}

ul,
li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
a {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

.hero {
  background-color: #ffbf69;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container-left {
  width: 782px;
  height: 782px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  padding-left: 100px;
  padding-top: 100px;
  color: white;
}

.button {
  border-radius: 3px;
  margin-top: 100px;
  padding: 14px 56px;
  background-color: #cbf3f0;
  border: 1px solid #cbf3f0;
  font: 600 24px Poppins, arial;
}

.container-right {
  background-image: url("images/background_cutted.png");
  width: 782px;
  height: 782px;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 80px 320px;
  background-color: white;
}

.product-section {
  padding: 80px 320px;
  text-align: center;
  background-color: #cbf3f0;
}

.product {
  display: flex;
  padding: 40px 0px;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background-color: #cbf3f0;
}

img {
  
}

.product h2 {
  font-weight: 400;
  font-size: 24px;
}

.product button {
  margin-top: 16px;
  padding: 8px 32px;
  font: 600 16px Poppins, arial;
  background-color: #ffbf69;
  border: 1px solid #ffbf69;
}

.desc-section {
  height: 500px;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

.desc {
  display: flex;
  padding: 40px 0%;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  background-image: url(images/bg-grid.png);
  background-repeat: no-repeat;
}

.container-left2 {
  width: 1200px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 100px;
  color: rgb(0, 0, 0);
}

.container-right2 {
  width: 411px;
  height: 318px;
  background-image: url("images/photo.jpg");
  background-position: center;
  background-size: cover;
}

footer {
  background-color: #333333; 
}

footer a{
  color: white;
}

ul{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
align-content: center;
font-size: 24px;
color: white;
}

footer ul {
  padding: 40px 0px;
}